* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   background-image: url(/Images/coffee\ back2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
  margin-left: 100px;
}

.box {
  width: 700px;
  height: 450px;
  background-color: black;
  margin-left: 250px;
  margin-top: 80px;
  border-radius: 8px;
  border: none;
  background-image: url(/Images/coffee%20asethetic.jpg);
  background-repeat: no-repeat;
  background-size: 400px 500px;
  position: relative;
}

form {
  background-color: rgb(125, 84, 53);
  width: 380px;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  border: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form label {
  color: #1b0d0d;
  font-size: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 8px;
  align-self: flex-start;
  margin-left: 10px;
}

form input {
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 90px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-email {
  font-family: Cambria, Cochin, Georgia;
}

.btn,
.btns {
  width: 300px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  border-top: none;
  border: 1px solid black;
  font-size: 16px;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.btn {
  background-color: rgb(202, 195, 181);
}

.btn:hover,
.btns:hover {
  background-color: rgb(62, 64, 61);
  color: white;
}

.btns {
  background-color: white;
  border: 1px solid black;
}
